// Place all the styles related to the Bugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
    display: flexbox;
    flex-wrap: wrap;
}

tr {
    background-color: #c0c0c0;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid black;
    text-decoration: none;
}

section a {
    background-color: #08f7fe;
    border: 3px solid #3F3F3F;
    border-radius: 12px;
    width: 100px;
    float: right;
    color: #3F3F3F;
    margin-right: 5px;
}

section a:hover {
    background-color: #3F3F3F;
    border: 3px solid #08f7fe;
}